{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8",
          "browsers": [
            "last 2 Chrome versions",
            "last 2 Firefox versions"
          ]
        }
      }
    ],
    "next/babel",
    "react"
  ],
  "plugins": [
    "styled-jsx/babel",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]
  ]
}
