{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "modules": false,
          "useBuiltIns": true,
          "debug": true
        }
      }
    ],
    "next/babel",
    "react"
  ],
  "plugins": [
    "styled-jsx/babel",
    "transform-runtime",
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ]
  ]
}
